<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span jhiTranslate="raasApp.person.home.title">__jhiTransformTranslate__('raasApp.person.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="raasApp.person.home.refreshListLabel">__jhiTransformTranslate__('raasApp.person.home.refreshListLabel')</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="raasApp.person.home.createLabel">__jhiTransformTranslate__('raasApp.person.home.createLabel')</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
    <span jhiTranslate="raasApp.person.home.notFound">__jhiTransformTranslate__('raasApp.person.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="people && people.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="raasApp.person.name">__jhiTransformTranslate__('raasApp.person.name')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="motherName">
            <div class="d-flex">
              <span jhiTranslate="raasApp.person.motherName">__jhiTransformTranslate__('raasApp.person.motherName')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthdate">
            <div class="d-flex">
              <span jhiTranslate="raasApp.person.birthdate">__jhiTransformTranslate__('raasApp.person.birthdate')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="raasApp.person.email">__jhiTransformTranslate__('raasApp.person.email')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="raasApp.person.user">__jhiTransformTranslate__('raasApp.person.user')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="attendancesAsProfessional.id">
            <div class="d-flex">
              <span jhiTranslate="raasApp.person.attendancesAsProfessional"
                >__jhiTransformTranslate__('raasApp.person.attendancesAsProfessional')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="attendancesAsPatient.id">
            <div class="d-flex">
              <span jhiTranslate="raasApp.person.attendancesAsPatient"
                >__jhiTransformTranslate__('raasApp.person.attendancesAsPatient')</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let person of people; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
          </td>
          <td>{{ person.name }}</td>
          <td>{{ person.motherName }}</td>
          <td>{{ person.birthdate | formatMediumDate }}</td>
          <td>{{ person.email }}</td>
          <td>
            {{ person.user?.id }}
          </td>
          <td>
            <div *ngIf="person.attendancesAsProfessional">
              <a [routerLink]="['/attendance', person.attendancesAsProfessional.id, 'view']">{{ person.attendancesAsProfessional.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.attendancesAsPatient">
              <a [routerLink]="['/attendance', person.attendancesAsPatient.id, 'view']">{{ person.attendancesAsPatient.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button type="submit" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
